<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybomlauncher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- android:theme="@style/Theme.CustomLauncher" -->
        <activity android:name="com.example.mybomlauncher.MainActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- HOME, DEFAULT 카테고리 : 이 앱을 런쳐로 사용 -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.mybomlauncher.AppsDrawerActivity"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>